modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "freetype", "glibcLocales", "lcms2", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "rustc", "tcl", "tk", "zbar", "zlib"]

[deployment]
deploymentTarget = "autoscale"
run = ["streamlit", "run", "app.py", "--server.port", "5000"]

[agent]
integrations = ["streamlit_database:1.0.0"]
